@import "src/theme/theme-variables";

/*rols*/

$mainbackgroundColor: #242c41;
$childbackgroundColor: #131b31;
$mainColor: #fff;
$childColor: #5069e4;
$backColor: #e4e4e4;

/*rols*/

.flex-container {
  display: flex;
  width: 100%;
  @media (max-width: 992px) {
    flex-wrap: wrap;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }
  h1 {
    &::after {
      content: "";
      border-bottom: 3px solid $backColor;
      display: block;
      width: 35px;
      margin-top: 7px;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.flex-item {
  display: inline;
}

:host {
  display: flex;
  flex: 1;
  background-color: $mainColor;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container {
  margin: auto;
}

.login-container,
.mat-form-field {
  width: 100%;
  button {
    width: 100px;
    background-color: $childColor;
    color: $mainColor;
  }
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: mat-color($app-warn);
}
