<div class="adduser">
  <h2>add new user</h2>
  <div class="flex-container">
    <form class="user ">
      <mat-form-field appearance="outline" class="branch">
        <input matInput type="text" placeholder="user name" value="user" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="branch">
        <input matInput placeholder="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="branch">
        <input matInput placeholder="branch" />
      </mat-form-field>
      <button mat-button color="primary">
        Save
        <mat-icon matSuffix>save</mat-icon>
      </button>
    </form>
    <form class="branches ">
      <mat-form-field appearance="outline" class="branch">
        <input matInput placeholder="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="branch">
        <input matInput placeholder="role" />
      </mat-form-field>
    </form>
  </div>
</div>
