<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav
      [ngClass]="{ openMenu: openMenu, closedMenu: !openMenu }"
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
    >
      <mat-toolbar class="inspect">
        <span class="evento" translate> evntoo</span>
      </mat-toolbar>
      <mat-toolbar class="inspect">
        <span class="inspection" translate>
          <img class="img" src="../../assets/download.jpg" />
          Acme Corporation</span
        >
      </mat-toolbar>
      <mat-list class="lists">
        <mat-list-item class="home list-item-custom">
          <i class="material-icons home"></i>
          <span>
            Home
          </span>
        </mat-list-item>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <i style="color: gray;" class="material-icons border_all"></i>
            <span>
              Services
            </span>
          </mat-expansion-panel-header>
          <mat-list>
            <a mat-list-item class="active">Add a New Service</a>
            <a mat-list-item>Manage my services</a>
            <a mat-list-item>Add-one</a>
            <a mat-list-item>Offers & discounts</a>
            <a mat-list-item>packages</a>
          </mat-list>
        </mat-expansion-panel>
        <ul class="list ">
          <li class="order list-item-custom">
            <i class="material-icons ">
              reorder
            </i>
            Orders
          </li>
          <li class="Financials list-item-custom">
            <i class="material-icons ">
              sort
            </i>
            Financials
          </li>
        </ul>
      </mat-list>
      <button class="closeNav" (click)="toggleMenuSize()"><span>>>></span> Minimize sidebar</button>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
<button class="openNav" (click)="toggleMenuSize()">
  <i class="material-icons">
    reorder
  </i>
</button>
